@typeparam T where T : ApplicationCore.Models.InputType

@ChildContent

<InputSelect class="field border-primary p-4" id="@Id" @bind-Value="SelectedId">
    @if (InputCollection is not null)
    {
        if (!string.IsNullOrWhiteSpace(PlaceholderText))
        {
            <option value="0" selected hidden>Select a datasource type...</option>

        }
        
        foreach (var type in InputCollection)
        {
            <option value="@type.Id">@type.Name</option>
        }
    }
</InputSelect>