<nav class="w-fit min-w-1/6 h-screen bg-primary-500 text-white">
    <div class="p-4">
        <NavLink class="" href="" Match="NavLinkMatch.All">
            <span class="" aria-hidden="true"></span> Home
        </NavLink>
    </div>
</nav>
